.header{
	margin: 60px auto;
	font-size: 20px;
	line-height: 1.5;
}
.header span{
	display: block;
}
.section {
	padding: 30px 0;
}
.container {
	// border: 2px solid red;
}
.form {
	border: 5px solid #2727de;
	padding: 30px 20px;
}
.form input {
	margin-bottom: 12px;
}
.form-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn {
	background-color: #2727de;
	margin: 10px auto;

}
.section-header {
	font-size: 20px;
	font-weight: 900;
}
.feature{
	margin: 60px auto;
}
.feature p {
	margin-top: 20px;
}
.feature-box {
	height: 160px;
}
